<!--The content below is only a placeholder and can be replaced.-->
<!--<nav md-tab-nav-bar >
        <a md-tab-link
           *ngFor="let routeLink of routeLinks; let i = index;"
           [routerLink]="routeLink.link"
           routerLinkActive="mat-tab-link-active"
           #rla="routerLinkActive"
           [active]="activeLinkIndex === i"
           (click)="activeLinkIndex = i"
           [routerLinkActiveOptions]="{exact: true}">
            {{routeLink.label}}
        </a>
    </nav>-->
<router-outlet></router-outlet>
<alert></alert>
